<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Esri.ArcGISRuntime" version="100.14.1" targetFramework="net48" />
  <package id="Esri.ArcGISRuntime.runtimes.win" version="100.14.1" targetFramework="net48" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.14.1" targetFramework="net48" />
  <package id="HandyControl" version="3.3.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.7-ci277" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.6.0-ci277" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0-preview.7.22375.6" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2-beta1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0-preview.7.22375.6" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.0-preview.7.22375.6" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
</packages>